version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "npm"
    directory: "/web" # Location of package.json and package-lock.json
    schedule:
      interval: "daily"
