version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
      - "go"
  - package-ecosystem: "npm"
    directory: "/web"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
      - "npm"